.grid_12
  %h1 Pending Sets
.clear
.deliveryDialog(title="Deliver this set?")
  %input.deliveryDate(type="text")
  %button.confirmDelivery(href="#") Confirm
.setsControls
  %p.grid_12 Selected set:
  .grid_12
    %button.deleteSelectedSet(href="#") Delete
    %button.deliverSelectedSet(href="#") Deliver
    %span.selectedSetPigNumbers
    %div
      Sac dates:
      %span.selectedSetSacDates
.grid_12
  %table.display.setsTable
    %thead
      %tr
        %th Requester
        %th Request date
        %th Stain
        %th Tissue
        %th Pigs
        %th Groups
        %th Comment
        %th Delivered
    %tbody
      - pendingSets.each
        %tr.setRow
          %td.requester= it.requester
          %td.requestDate= it.requestDate
          %td.stain= it.stain
          %td.tissue= it.tissue
          %td.pigs= (it.pigIds ?: []).size()
          %td.groups= it.groupNames.join(",").replaceAll('"','')
          %td.comment= it.comment
          %td
            %span.deliveryDate= it.deliveryDate ?: ""
            %input.id(type="hidden" value=it._id)
            %input.rev(type="hidden" value=it._rev)
            %input.summary(type="hidden" value="$it.tissue $it.stain")
            %input.pigNumbers(type="hidden" value=(it.pigs.collect{it?.pigNumber}).join(", ").replaceAll('"',''))
            %input.pigSacDates(type="hidden" value=(it.pigs.collect{it?.sacDate}).join(", ").replaceAll('"',''))
            
            
        
